@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


:root {
    --moderate-violet-div1: hsl(263, 55%, 52%);
    --grayish-blue-div2: hsl(217, 19%, 35%);
    --blackish-blue-div4:hsl(219, 29%, 14%);
    --White-div3-5: hsl(0, 0%, 100%);

    --light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  html {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(210, 46%, 95%);
    color: var(--Light-grayish-blue);
  }

.attribution { font-size: 11px; text-align: center; color: black;}
.attribution a { color: hsl(228, 45%, 44%); }

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "div1 div1 div2 div5"
                         "div3 div4 div4 div5";
    margin: 75px 160px;
    grid-auto-rows: minmax(265px, auto);
    grid-gap: 30px;
    
}
section {
    padding: 24px 30px;
    border-radius: 10px;
}
h1{
    font-weight: 500;
}

.name-tag {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.name-tag img {
    
    margin-right: 15px;
    border-radius: 100px;
    transform: scale(0.8);
}
.name-tag p {
  opacity: 0.5;
  
}
.info-container {
    z-index: 3;
    position: relative;
}
.info-container p {
    opacity: 0.7;
    padding-top: 25px;
    line-height: 20px;
   
}

.div1{
    position: relative;
    grid-area: div1;
    background-color: var(--moderate-violet-div1);
}
.quotation {
    /* come back to */
    position: absolute;
    z-index: 1;
    right: 15%;
    top: 0;
}

.div2{
    background-color: var(--grayish-blue-div2);
    grid-area: div2;
}

.div5 {
    background-color: var(--White-div3-5);
    grid-area: div5;
    color: var(--grayish-blue-div2);
}

.div3{
    grid-area: div3;
    background-color: var(--White-div3-5);
    color: var(--grayish-blue-div2);
}

.div4 {
    grid-area: div4;
    background-color: var(--blackish-blue-div4);
}

@media (max-width: 1024px) {
    .grid-wrapper {
        grid-template-columns: revert;
        grid-template-areas: "div1 div1"
                                "div2 div3"
                                "div4 div5";
    }
    
}

@media (max-width: 720px){
    
    .grid-wrapper {
        margin: 75px 30px;

        grid-template-areas: "div1"
                                "div2"
                                "div3"
                                "div4"
                                "div5";
    }
}


